#ignoring the files within the build folder
/build/
build/**
/dist/
config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
